<!DOCTYPE html>
<html>
<head>
<title>Environment Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<h2>Current Conditions</h2>

<table border="1">
<tr>
<th>Indoor Temp</th>
<th>Indoor Humidity</th>
<th>Outside Temp</th>
<th>Outside Humidity</th>
</tr>
<tbody id="current"></tbody>
</table>

<br>

<label>Range:</label>
<select id="rangeSelect">
<option value="today">Today</option>
<option value="24h">Last 24h</option>
<option value="7d">Last 7 Days</option>
</select>

<br><br>

<canvas id="chart"></canvas>

<br><br>

<h2>Prediction</h2>
<canvas id="predictionChart"></canvas>

<script>

let chart
let predictionChart

async function fetchData(){

    const range=document.getElementById("rangeSelect").value

    const res=await fetch(`/api/data?range=${range}`)
    const data=await res.json()

    if(data.length===0) return

    const labels=data.map(d=>d.recorded_at)
    const inside_temp=data.map(d=>d.inside_temp)
    const inside_humidity=data.map(d=>d.inside_humidity)
    const outside_temp=data.map(d=>d.outside_temp)
    const outside_humidity=data.map(d=>d.outside_humidity)

    updateChart(labels,inside_temp,inside_humidity, outside_temp,outside_humidity)
}


function updateChart(labels,inside_temp,inside_humidity, outside_temp,outside_humidity){
    if(!chart){
        chart=new Chart(document.getElementById("chart"),{
            type:"line",
            data:{
                labels:labels,
                datasets: [
                    {
                        label: "Inside Temperature °F",
                        data: inside_temp,
                        borderColor: "red",       
                        tension: 0.3              
                    },
                    {
                        label: "Inside Humidity %",
                        data: inside_humidity,
                        borderColor: "blue",
                        tension: 0.3
                    },
                    {
                        label: "Outside Temperature °F",
                        data: outside_temp,
                        borderColor: "rgb(255, 150, 150)",
                        tension: 0.3
                    },
                    {
                        label: "Outside Humidity %",
                        data: outside_humidity,
                        borderColor: "rgba(54, 162, 235, 0.5)",
                        tension: 0.3
                    }
                ]

            }
        })
    }else{

        chart.data.labels=labels
        chart.data.datasets[0].data=inside_temp
        chart.data.datasets[1].data=inside_humidity
        chart.data.datasets[2].data=outside_temp
        chart.data.datasets[3].data=outside_humidity
        chart.update()
    }
}


async function fetchData_current(){

    const res=await fetch(`/api/current`)
    const data=await res.json()

    if(data.length===0) return

    const d = data[0]


    updateCurrent(d.inside_temp,
        d.inside_humidity,
        d.outside_temp,
        d.outside_humidity)
}

function updateCurrent(inside_temp,inside_humidity, outside_temp,outside_humidity){

    document.getElementById("current").innerHTML=
    `<tr>
    <td>${inside_temp.toFixed(1)} °F</td>
    <td>${inside_humidity.toFixed(1)} %</td>
    <td>${outside_temp.toFixed(1)} °F</td>
    <td>${outside_humidity.toFixed(1)} %</td>
    </tr>`
}

async function fetchPredictions(){

    const res=await fetch("/api/predict")
    const preds=await res.json()

    const labels=preds.map((_,i)=>i+1)
    const temps=preds.map(p=>p.temperature)
    const hums=preds.map(p=>p.humidity)

    if(!predictionChart){

        predictionChart=new Chart(document.getElementById("predictionChart"),{
            type:"line",
            data:{
                labels:labels,
                datasets:[
                {
                    label:"Predicted Temp",
                    data:temps
                },
                {
                    label:"Predicted Humidity",
                    data:hums
                }]
            }
        })

    }else{

        predictionChart.data.labels=labels
        predictionChart.data.datasets[0].data=temps
        predictionChart.data.datasets[1].data=hums
        predictionChart.update()

    }
}

fetchData()
fetchData_current()
fetchPredictions()

setInterval(fetchData,300000)
setInterval(fetchData_current,300000)
setInterval(fetchPredictions,300000)

</script>

</body>
</html>